* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
:root {
  --main_color: white;
  --secondary_color: gray;
}
.footer {
  width: 100%;
  background-color: var(--secondary_color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 60px;
  color: #a72626;
  font-size: 15px;
}

@media (max-width: 600px) {
  .footer {
    height: 70px;
    flex-direction: column;
    gap: 5px;
  }
}
